<h1>My groups!</h1>

<% @memberships.each do |membership| %>
  <h2><%= membership.group.name %></h2>
  <ul>
    <li>Admin: <%= membership.admin %></li>
    <li><%= membership.group.description %></li>
    <li><%= membership.group.resort.name %></li>
    <li><%= membership.user.first_name %></li>
    <% if membership.admin? %>
      <h2><%= link_to "Exit group", membership_path(membership, page_link: @page_link), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %></h2>
      <h2><%= link_to "Edit", edit_group_path(membership.group), class: "btn btn-primary" %></h2>
    <% else %>
      <h2><%= link_to "Exit group", membership_path(membership, page_link: @page_link), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %></h2>
    <% end %>
  </ul>
<% end %>
