<h1>My groups!</h1>

<% @memberships.each do |membership| %>
  <% if membership.user == current_user %>
    <h2><%= membership.group.name %></h2>
    <ul>
      <li>Admin: <%= membership.admin %></li>
      <li><%= membership.group.description %></li>
      <li><%= membership.user.first_name %></li>
      <% if !membership.admin? %>
          <li><h2><%= link_to "Remove member", membership_path(membership), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %></h2></li>
          <li><h2><%= link_to "Make admin", membership_path(membership, membership: { admin: true }), method: :patch, class: "btn btn-primary" %></h2></li>
        <% else %>
          <li><h2><%= link_to "Remove admin", membership_path(membership, membership: { admin: false }), method: :patch, class: "btn btn-primary" %></h2></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
