<div class="group-show-container">
  <h2 class="group-name-title"><%= @group.name.upcase %></h2>
  <h5><%= @group.resort.name %>, <%= @group.resort.country.name %></h5>
  <h5><%= @group.description %></h5>
  <p>Created by
    <% @group.memberships.each do |membership| %>
      <%= membership.user.first_name if membership.admin %>
    <% end %>
    at
    <%= @group.created_at %>
  </p>
  <div class="justify-content-left">
    <% @group.users.each do |user| %>
     <%= user.first_name%>
    <% end %>
  </div>

<% if @group.memberships.find_by_user_id(current_user.id).admin %>
  <div class="d-flex flex-row">
    <h2><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, group_path(@group), method: :delete, data: { confirm: "Are you sure?" } %></h2>
    <h2 ><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_group_path(@group) %></h2>
  </div>
<% end %>
</div>

<div class="grid-container-groups">
  <div class="map-show-group grid-container-groups1">
    <%= render partial: "shared/map_show"%>
  </div>
  <div class="group-show-page grid-container-groups2">
    <div class="group-card" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url(<%= cl_image_path @group.photo.key %>); background-size: cover; background-position: center; background-color: rgba(0, 0, 0, 0.6);">
      <div class="group-info-container d-flex justify-content-between flex-grow-1">
        <%= render partial: "shared/meetings_show"%>
      </div>
    </div>
  </div>
  <div class="chat-box grid-container-groups3">
    <%= render partial: "shared/messages/chat_box", group: @group, message: @message%>
  </div>
</div>




