<section class="group-heading-section">
  <div class="group-image-info">
    <div class="group-show-page-image" style="background-image: url(<%= cl_image_path @group.photo.key %>); background-size: cover; background-position: center;">
    </div>
    <div class="group-info">
      <h2 class="group-name-title"><%= @group.name.upcase %></h2>
      <h5><%= @group.resort.name %>, <%= @group.resort.country.name %></h5>
      <h5><%= @group.description %></h5>
      <% if @group.memberships.find_by_user_id(current_user.id).admin %>
        <div class="d-flex flex-row justify-content-start">
          <h2>
            <%= link_to '<i class="far fa-trash-alt group-icons"></i>'.html_safe, group_path(@group), method: :delete, data: { confirm: "Are you sure?" } %>
          </h2>
          <h2>
            <i class="far fa-edit group-icons" data-toggle="modal" data-target="#editGroupModel" id="group-edit-button"><a></a></i>
          </h2>
        </div>
      <% end %>
    </div>
  </div>
  <div class="message-btn-align">
    <div class="message-button">
      <a href= "#" class="toggle-chats">
        <i class="fas fa-comments message-icon"></i>
      </a>
    </div>
  </div>
</section>

<section class="map-members" style="width: 100%">
  <div class="members-meetup">
    <div class="group-members">
      <i class="fas fa-snowflake members-snowflake"></i>
      <p class="member-title">
        Group members
      </p>
      <div class="group-show-avatars">
        <% @group.users.each do |user| %>
          <span class="group-show-avatar">
            <img src=<%= cl_image_path user.photo.key %>>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="group-map">
    <%= render partial: "shared/map_show"%>
  </div>
</section>

  <div class="member-info-meetup">
    <div class="meetup-cards">
      <div>
         <%= render partial: "shared/meetings_show"%>
      </div>
      <%= link_to new_group_meeting_path(@group), class: "new-meet-link" do %>
        <div class="meetup-card add-new-meetup">
          <h2 class="meeting-add">
              <i class="fas fa-plus" id= "plus-icon"></i>
          </h2>
        </div>
      <% end %>
    </div>
  </div>

<div class="my-chat">
  <%= render partial: "shared/messages/chat_box", group: @group, message: @message%>
</div>

<!-- Edit group modal -->
<div class="modal fade" id="editGroupModel" tabindex="-1" role="dialog" aria-labelledby="editGroupModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render partial: "shared/group_edit_for_modal", locals: { group: @group } %>
      </div>
    </div>
  </div>
</div>

