
<div class="container">

  <div class="group-show-page">
    <%= render partial: "shared/group_card_show", group: @group %>

  <div class="chat-box">
    <%= render partial: "shared/messages/chat_box", group: @group, message: @message%>
  </div>

  <div class="meetings-address">
    <h2><%= link_to "Add a meeting point", new_group_meeting_path(@group) %></h2>
  </div>

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>


</div>
