<%= simple_form_for [@resort, @group] do |f| %>
  <%= f.input :name, as: :string%>
  <%= f.input :description, as: :text %>
  <%= f.input :locked %>
  <%= f.input :photo, as: :file %>
  <div class="justify-content-left">
    <h2>List of members</h2>
    <ul>
    <% @group.memberships.each do |membership| %>
      <li><%= membership.user.first_name %></li>
      <% if !membership.admin? %>
          <h2><%= link_to "Remove member", membership_path(membership), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %></h2>
          <h2><%= link_to "Make admin", membership_path(membership, membership: { admin: true }), method: :patch, class: "btn btn-primary"  %></h2>
        <% else %>
          <h2><%= link_to "Remove admin", membership_path(membership, membership: { admin: false }), method: :patch, class: "btn btn-primary"  %></h2>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class="d-flex justify-content-center">
    <%= f.submit "Submit", class: "button-book" %>
  </div>
<% end %>
