<%= simple_form_for [@resort, @group] do |f| %>
  <%= f.input :name, as: :string%>
  <%= f.input :description, as: :text %>

  <div class="justify-content-left">
    <ul>
    <% @group.memberships.each do |membership| %>
      <li><%= membership.user.first_name %></li>
      <% if !membership.admin? %>
          <li><h2><%= link_to "Remove member", membership_path(membership), method: :delete, data: { confirm: "Are you sure?" } %></h2></li>
          <li><h2><%= link_to "Make admin", membership_path(membership, membership: { admin: true }), method: :patch %></h2></li>
        <% else %>
          <li><h2><%= link_to "Remove admin", membership_path(membership, membership: { admin: false }), method: :patch %></h2></li>
      <% end %>
    <% end %>
    </ul>
  </div>

  <div class="d-flex justify-content-center">
    <%= f.submit "Submit", class: "button-book" %>
  </div>
<% end %>
