<h1>Meetings</h1>
<h2><%= link_to "Add a meeting point", new_group_meeting_path(@group) %></h2>
<% @meetings.each do |meeting| %>
  <ul>
    <li>Address: <%= meeting.address %></li>
    <li>Date: <%= meeting.meeting_date %></li>
    <%= link_to "Edit", edit_meeting_path(meeting) %>
    <%= link_to "Delete", meeting_path(meeting), method: :delete, data: { confirm: "Are you sure?" } %>
  </ul>
<% end %>
