
  <h1 class="meeting-title">Meet-ups</h1>

  <% @meetings.each do |meeting| %>
    <div class="meetup-card">
      <ul>
        <li class="meetup-details">Address: <%= meeting.address %></li>
        <li class="meetup-details">Date: <%= meeting.meeting_date %></li>
        <li class="meetup-details">Description: <%= meeting.description %></li>
        <%= link_to "Edit", edit_meeting_path(meeting), class: "meetup-details"%>
        <%= link_to "Delete", meeting_path(meeting), method: :delete, data: { confirm: "Are you sure?" }, class: "meetup-details" %>
      </ul>
    </div>
  <% end %>

