<div class="container show-chat-box" style="background-color: white;">
  <i class="fas fa-times cross"></i>
  <div class="bottom scroll-style" id="comment_section">
    <% @group.messages.order(created_at: :asc).each do |message| %>
      <% if !message.show %>
        <div class="talk-bubble message-deleted" id="comment-<%= message.id %>">
          <p><i class="fas fa-ban" style="font-size: 12px; color: white;"></i><i>  Message deleted</i></p>
        </div>
      <% elsif message.user == current_user %>
        <div class="talk-bubble talk-bubble-right tri-right round right-top" id="comment-<%= message.id %>">
          <div class="message-user">
<!--            <%#= cl_image_tag message.user.photo.key, class: "avatar-message" %> -->
            <div class="message-user-details">
              <p><%= "You" %></p>
            </div>
          </div>
          <div class="message-user-text">
            <p><%= message.content %></p>
            <div class="message-user-time">
              <p><span class="white-txt date"><%= time_since(message) %></span></p>
                <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, message_path(message), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-button-link" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="talk-bubble talk-bubble-left tri-right round left-top" id="comment-<%= message.id %>">
          <div class="message-other-users">
<!--             <%#= cl_image_tag message.user.photo.key, class: "avatar-message" %> -->
            <div class="message-other-users-details">
              <p><%= message.user.first_name %></p>
            </div>
          </div>
          <div class="message-other-users-text">
            <p><%= message.content %></p>
            <div class="message-other-users-time">
              <p><span class="grey-txt date"><%= time_since(message) %></span></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= render 'shared/messages/form', group: @group, message: @message %>
</div>

<script>
  // add message
  let channel = pusher.subscribe('comment-channel');
  channel.bind('new-comment', (data) => {
    let comment = data.message.content;
    let name = data.message.name
    let id = data.message.id
    let group_name =data.message.group_name
    let photo = data.message.photo
    let div = document.getElementById('comment_section');
    let deleteButton = `<div>Delete</div>`
    let messageHTML = `
        <div class="talk-bubble talk-bubble-right tri-right round right-top" id="comment-${id}">
          <div class="message-user"/>
            <div class="message-user-details">
              <p>You</p>
            </div>
          </div>
          <div class="message-user-text">
            <p>${comment}</p>
            <div class="message-user-time">
              <p><span class="white-txt date">0 minutes ago</span></p>
            </div>
          </div>
        </div>
    `
    div.insertAdjacentHTML('beforeend', messageHTML);
    document.getElementById('message_content').value = "";
    var objDiv = document.getElementById("comment_section");
    objDiv.scrollTop = objDiv.scrollHeight;
  });
  // delete message
  channel.bind('delete-comment', (data) => {
    let id = data.message.id
    let div = document.getElementById(`comment-${id}`);
    while (div.firstChild) {
      div.firstChild.remove()
    }
    div.classList.add('talk-bubble message-deleted')
    div.classList.remove("talk-bubble talk-bubble-right tri-right round right-top");
    div.innerHTML = '<i><p>Message deleted</p></i>'
  });
</script>
