<div class="container mt-5 mb-5" style="background-color: white;">
  <h1 style="text-align: center"><%= @group.name %> Frost Chat!</h1>
  <div class="bottom scroll-style" id="comment_section">
    <% @group.messages.order(created_at: :asc).each do |message| %>
      <% if !message.show %>
        <div class="card m-3 p-2" id="comment-<%= message.id %>">
          <p>Message deleted</p>
        </div>
      <% elsif message.user == current_user %>
        <div class="card m-3 p-2" id="comment-<%= message.id %>">
          <p>Message: <%= message.content %></p>
          <p>Email: <%= message.user.email %></p>
          <%= link_to "Delete message", message_path(message), method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
        </div>
      <% else %>
        <div class="card m-3 p-2" id="comment-<%= message.id %>">
          <p>Message: <%= message.content %></p>
          <p>Email: <%= message.user.email %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= render 'shared/messages/form', group: @group, message: @message %>
</div>

<script>
  let channel = pusher.subscribe('comment-channel');
  channel.bind('new-comment', (data) => {
    let comment = data.message.content;
    let email = data.message.email
    let id = data.message.id
    let div = document.getElementById('comment_section');
    let deleteButton = `<div>Delete</div>`
    let messageHTML = `<div class='card m-3 p-2' id='comment-${id}'><p> Message: ${comment}</p><p> Email: ${email}</p><a data-confirm="Are you sure?" data-remote="true" rel="nofollow" data-method="delete" href="/messages/${id}">Delete message</a></div>`
    div.insertAdjacentHTML('beforeend', messageHTML);
    document.getElementById('message_content').value = "";
    var objDiv = document.getElementById("comment_section");
    objDiv.scrollTop = objDiv.scrollHeight;
  });
    channel.bind('delete-comment', (data) => {
    let id = data.message.id
    let div = document.getElementById(`comment-${id}`);
    let messageHTML = `<div class='card m-3 p-2' id='comment-${id}'><p>Message deleted</p></div>`
    while (div.firstChild) {
      div.firstChild.remove()
    }
    div.insertAdjacentHTML('beforeend', messageHTML);
  });
</script>
