
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header banner-image" id="headingOne">
      <h2 class="mb-0 relative">
        <%= link_to "Europe", "#", class: "btn btn-link title title-overlay", style: "text-decoration:none", data: { toggle: "collapse", target: "#collapseOne" },  aria: {expanded: "true", controls: "collapseOne"} %>
        <!-- <button class="btn btn-link title title-overlay" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> -->
          <!-- Europe -->
        <!-- </button> -->
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class= "europe-dropdown">
          <div class= "europe-grid">
            <div class="overlay">
              <h2>France</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Austria</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Switzerland</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Italy</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Finland</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Denmark</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Poland</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo"%>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Spain</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Iceland</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header banner-image1" id="headingTwo">
      <h2 class="mb-0">
        <%= link_to "North America", "#", class: "btn btn-link title title-overlay", style: "text-decoration:none", data: { toggle: "collapse", target: "#collapseOne" },  aria: {expanded: "true", controls: "collapseOne"} %>
<!--         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          North America
        </button> -->
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class= "europe-dropdown">
          <div class= "europe-grid">
            <div class="overlay">
              <h2>United States</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Canada</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Greenland</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header banner-image2" id="headingThree">
      <h2 class="mb-0">
        <%= link_to "Rest of the World", "#", class: "btn btn-link title title-overlay", style: "text-decoration:none", data: { toggle: "collapse", target: "#collapseOne" },  aria: {expanded: "true", controls: "collapseOne"} %>
<!--         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Rest of the World
        </button> -->
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div class= "europe-dropdown">
          <div class= "europe-grid">
            <div class="overlay">
              <h2>New Zealand</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Japan</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>

          <div class= "europe-grid">
            <div class="overlay">
              <h2>Australia</h2>
            </div>
            <%= image_tag "europe-skiing", class: "grid-photo" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>













