<div class="container mt-3">
  <h1 style="margin-left: 10px;"><%= @country.name %></h1>
  <div class="row">
    <div class="col-7 scroll-style">
      <% @resorts.each do |resort| %>
      <div class="resort-card">
        <%= cl_image_tag resort.photo.key %>
        <div class="resort-info">
          <div class="resort-title">
            <h6><%= resort.name %></h6>
            <div class="resort-users">
              <p><%= resort.groups.size %> active groups</p>
              <i class="fas fa-users"></i>
            </div>
          </div>
          <p><%= resort.description.split(".").slice(0,2).join(".") %></p>
          <div class="resort-bottom">
            <div class="resort-icons">
              <div class="icon-info">
                <i class="fas fa-mountain"></i>
                <p><%= (rand()*5000).round(0) %>  m</p>
              </div>
              <div class="icon-info">
                <i class="fas fa-snowflake"></i>
                <p><%= (rand()*50).round(0) %> cm</p>
              </div>
              <div class="icon-info">
                <i class="fas fa-skiing"></i>
                <p><%= (rand()*300).round(0) %>  m</p>
              </div>
              <div class="icon-info">
                <i class="fas fa-temperature-low"></i>
                <p><%= ["moderate", "overcast", "snowing", "dry", "mild"].sample %></p>
              </div>
            </div>
            <div class="resort-cost">
              <p><%= resort.country.cost %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-5" style="height: 100vmin; width: 100%">
      <div
        id="map"
      ></div>
    </div>
  </div>
</div>
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; };
</style>
<script>
  mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';
  var map = new mapboxgl.Map({
  container: 'map', // container id
  style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
  center: [45.397395 , 6.634884], // starting position [lng, lat]
  zoom: 4 // starting zoom
  });
</script>

