    <% data = {
      status: "open",
      snowfall_today: "0 cm",
      snowfall_tomorrow: "0cm",
      snow_condition: "excellent",
      open_runs: "48 of 74",
      open_piste: "55 of 93km",
      open_lifts: "18 of 39"
    } %>

<div class="mountain-banner-image mb-3 p-3">
  <div class="inner-mountain-container container">

    <div>
      <div class="resort-title-container">
        <div class="d-flex">
          <h1 class="pb-3"><%= @resort.name %></h1>
          <% if data[:status].downcase == "closed" %>
            <%= image_tag 'closed-icon.png', class: "resort-icon ml-3" %>
          <% end %>
        </div>
        <p class="resort-description"><%= @resort.description.length > 600 ? (@resort.description[0..600].html_safe + "...") : @resort.description.html_safe %></p>
      </div>

      <% if data[:status].downcase == "open" %>
        <div class='d-flex justify-content-between resort-icon-container'>
           <div class="text-center">
            <%= image_tag 'open-icon.png', class: "resort-icon" %>
          </div>
          <div class="text-center">
            <%= image_tag 'snow-icon.png', class: "resort-icon" %>
            <p class="resort-data-text">Fall today: <%= data[:snowfall_today] %></p>
            <p class="resort-data-text">Condition: <%= data[:snow_condition] %></p>
          </div>
          <div class="text-center">
            <%= image_tag 'snow-icon.png', class: "resort-icon" %>
            <p class="resort-data-text">Fall tomorrow: <%= data[:snowfall_tomorrow] %></p>
          </div>
          <div class="text-center">
            <%= image_tag 'runs-icon.png', class: "resort-icon" %>
            <p class="resort-data-text"><%= data[:open_runs] %> runs open</p>
          </div>
           <div class="text-center">
            <%= image_tag 'piste-icon.png', class: "resort-icon" %>
            <p class="resort-data-text"><%= data[:open_piste] %> of piste open</p>
          </div>
           <div class="text-center">
            <%= image_tag 'lift-icon.png', class: "resort-icon" %>
            <p class="resort-data-text"><%= data[:open_lifts] %> lifts open</p>
          </div>
        </div>
      <% end %>
    </div>
    <%#= link_to "Visit #{@resort.name}.com", @resort.website_url, target: :_blank, class: "resort-url-link btn btn-dark" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="group-filters-container">
        <div class="d-flex align-items-center resort-show-group-filters-box">
          <% if current_user.resort == @resort %>
            <%= link_to image_tag("checked-in.png", class: "check-in-image"), :resorts_remove_user %>
            <p>You're checked in at <%= @resort.name %>! Check out?</h2>
          <% else %>
            <%= link_to image_tag("checked-out.png", class: "check-in-image"), :resorts_add_user %>
            <p>Check in at <%= @resort.name %>?</h2>
          <% end %>
        </div>
        <div class="resort-show-group-filters-box">
          <p><%= @groups.count %> active squads in <%= @resort.name %> right now!</p>
          <div class="dropdown">
            <button class="group-action-button-inverted dropdown-toggle mt-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort groups by
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Biggest", resorts_sort_user_count_path(@resort), remote: true, class: "dropdown-item" %>
              <%= link_to "Newest", resorts_sort_group_created_path(@resort), remote: true, class: "dropdown-item" %>
              <%= link_to "Most active", resorts_sort_latest_message_path(@resort), remote: true, class: "dropdown-item" %>
            </div>
          </div>
        </div>
        <div class="resort-show-group-filters-box">
          <p>No groups that match your interests?</p>
          <button type="button" class="group-action-button-inverted mt-3" data-toggle="modal" data-target="#createGroupModel">
            Create a new group
          </button>
        </div>


        <div class="resort-show-group-filters-box">
          <p><%= @resort.users.count %> squaddies checked in at <%= @resort.name %> right now!</p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="group-users-avatars mt-3">
                <% @resort.users[0...5].each do |user| %>
                  <span class="group-users-avatar">
                    <img src=<%= cl_image_path user.photo.key %>>
                  </span>
                <% end %>
              </div>
              <% if @resort.users.count > 5 %>
                <div class="">
                  <div class="group-users-avatar-overflow ml-3 d-flex align-items-center justify-content-center">
                    + <%= @resort.users.count - 5 %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

    </div>
    <div class="col-9">
      <div class="group-cards" id="group-cards-container">
        <div id="group-card-holder">
          <%= render "shared/group_cards_container",  groups: @groups %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New group modal -->
<div class="modal fade" id="createGroupModel" tabindex="-1" role="dialog" aria-labelledby="createGroupModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render partial: "shared/group_new_for_modal", locals: { resort: @resort, group: @group } %>
      </div>
    </div>
  </div>
</div>
